<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.example.administrator.designpatterns.MyAidlServer"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.administrator.MyServer" />
            </intent-filter>
        </service>
        <!--exported属性值，如果有“intent-filter”，则默认值为true，否则为false。所以这里其实可以去掉，因为有“intent-filter”，其默认值就是true-->
    </application>

</manifest>